modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"
packages = ["chromium", "glib", "nss", "nspr", "atk", "cups", "libdrm", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libxcb", "mesa", "expat", "libxkbcommon", "alsa-lib", "pango", "cairo", "dbus"]

[agent]
expertMode = true

[workflows]
